<div class="row">
  <% @ideas.each do |idea| %>
    <div class="ideas <%=idea.title%> idea-<%=idea.id%> col-md-4">
      <h3><%= idea.title %></h3>
      <p><%= idea.limited_body %></p>
      <h3><%= idea.quality %></h3>
      <div class="row">
        <% idea.modifiers.each do |mod| %>
          <div class="<%= mod.div %>">
           <h4><%= mod.link %></h4>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
